<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ted.tedxhub">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <!-- Accessing camera hardware -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>

    <application android:name="com.ted.tedxhub.GlobalApplication" android:allowBackup="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:theme="@android:style/Theme.NoTitleBar"
        android:hardwareAccelerated="false"
        android:installLocation="internalOnly"
        >
        <receiver android:name="com.ted.tedxhub.AlarmReceiver" />
        <receiver android:name="com.ted.tedxhub.BootBroadcastReceiver"
            android:enabled="true" android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <!-- DashBoard / MainActivity -->
        <activity
            android:name="com.ted.tedxhub.LoginActivity"
            android:windowSoftInputMode="stateHidden"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ted.tedxhub.MainActivity"/>
        <activity android:name="com.ted.tedxhub.NotificationActivity"/>
        <activity android:name="com.ted.tedxhub.MessageActivity"/>
    </application>

</manifest>
